<!DOCTYPE html>
<html>
<head>
  <title>ProTask5v2</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body ng-app="app">
  <% if user_signed_in? %>
    <div>
      <a href="/users/sign_out"> Logout </a>
    </div>
  <% end %>

  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  
  <%= yield %>
</body>
</html>
